<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>East Project Manager</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{> nav}}
    <div class="container short no-top">
        <div class="row gapped">
            {{> sidebar}}
            <div class="col fill top">
                <label class="page">@ Dashboard</label>
                {{!-- {{#ifem user.pending_projects}} --}}
                {{!-- {{else}} --}}
                <div class="pending_projects_banner">
                    <h2>You've been invited to {{#ifeq user.pending_projects.length 1}}a{{else}}{{user.pending_projects.length}}{{/ifeq}} projects!</h2>
                    <a>View invite{{#ifeq user.pending_projects.length 1}}{{else}}s{{/ifeq}}</a>
                </div>
                {{!-- {{/ifem}} --}}
                <table class="T">
                    <tr>
                        <th>Name</th>
                        <th>Tasks</th>
                        <th>Members</th>
                    </tr>
                    {{#ifem projects}}
                        <tr class="nohover">
                            <td>You aren't in any projects yet. <a class="question l">?</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {{else}}
                        {{#each projects}}
                            <tr onclick="window.open('/project/{{id}}', '_self')">
                                <td>{{name}}</td>
                                <td>{{tasks.length}}</td>
                                <td>{{members.length}}</td> {{!-- this will prob be complicated later (show PFPs)--}}
                            </tr>
                        {{/each}}
                    {{/ifem}}
                </table>
            </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>